@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


@import "tailwindcss";


@theme{
    --font-worksans: Work Sans, sans-serif;
    --font-yeseva: 'Yeseva One', serif;
}

.navbar{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /></svg>');
}
/* Parent ul menus */
.appontment-menus{
    @apply flex gap-5 items-center;
}

.appontment-menus li {
    @apply relative;
}
.appontment-menus li:hover{
    @apply bg-amber-300 text-black;
}

/* second level child ul */
.appontment-menus li ul{
    @apply absolute bg-black transition px-4 py-5 z-50 w-44 invisible opacity-0;
}

.appontment-menus li:hover > ul{
    @apply visible opacity-100 bg-amber-300 text-black;
}

.appontment-menus li ul a{
    @apply text-white block px-2 py-1;
}

.appontment-menus li ul a:hover{
    @apply bg-white text-black;
}

/* Third level menus */
/* Third level menus position */
.appontment-menus li ul ul{
    @apply left-full top-0 ml-6
           opacity-0 invisible translate-y-3
           transition-all duration-700 ease-in-out;
}

.appontment-menus li ul li:hover > ul{
    @apply opacity-100 visible translate-y-0
           duration-300;
}

/* Hover style */
.appontment-menus li:hover ul li:hover{
    @apply text-amber-600 bg-black;
}

/* Chevron icon for menu items that have submenu */
.appontment-menus li.menu-item-has-children > a{
    @apply relative pr-6;
}

.appontment-menus li.menu-item-has-children > a::after{
    content: "";
    @apply absolute right-0 top-1/2 -translate-y-1/2 
           w-4 h-4 transition-transform duration-300 ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23ffffff' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}
.appontment-menus li.menu-item-has-children:hover > a::after{
    @apply rotate-180;
}